#slideshow {
  width: 250px;
  height: 250px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

#slideshow img {
  position: absolute;
  width: 50%;
  height: 50%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slideshow img.active {
  opacity: 1;
}
